{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans 'Quiz' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>{% trans 'Quiz' %}</h2>
    <div class="quizzes">
        {% include 'students/student/_title.html' with active='new' %}
        <div class="quiz">
            <table class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th>{% trans 'Quiz' %}</th>
                        <th>{% trans 'Tag' %}</th>
                        <th>{% trans 'Length' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td>{{ quiz.name }}</td>
                            <td>{{ quiz.tag.get_html_badge }}</td>
                            <td>{{ quiz.questions_count }}</td>
                            <td><a href="{% url 'students:take_quiz' quiz.pk %}" class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full">{% trans 'Start quiz' %}</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">{% trans 'Sorry! No quiz matching your interests right now.' %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 {% endblock %}
