{% extends "base.html" %}
{% load i18n %}
   {% block title %}
       Sign up
   {% endblock %}
   {% block content %}
   <div class="container">
       <h1>Sign up </h1>
       <div class="module">
           <p>{% trans "Enter your details to create an account:" %}</p>
           <p>{% trans "Already an account ?" %} <a href="{% url 'login' %}" class="link">Log in</a>.</p>
           <div class="signup-form">
               <form id="user_form" accept-charset="utf-8" action="" method="post">
                   {{ form.as_p }}
                   {% csrf_token %}

                   <div id="change-card" class="clearfix"{% if not form.last_4_digits.value %} style="display: none;"{% endif %}>
                       Card
                        <div class="input">
                          Using card ending with {{ form.last_4_digits.value }}
                          (<a href="#">change</a>)
                        </div>
                    </div>

                    <br />

                    {% include "students/payments/cardform.html" %}

                    <!--<p><input type="submit" class="btn btn-primary" value="Create an account"></p>-->
               </form>
           </div>
       </div>
   </div>
   {% endblock %}
