{% extends "base.html" %}
{% load i18n %}
{% block title %}
{{ quiz.name }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="quiz">
        <h2>{{ quiz.name }}</h2>
        <p>{{ question.text }}</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" type="submit">{% trans 'Next' %}</button>
        </form>
    </div>
</div>
 {% endblock %}
