certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.20
django-braces==1.8.1
django-embed-video==1.0.0
django-memcache-status==1.1
djangorestframework==3.7.0
idna==2.6
olefile==0.44
Pillow==4.2.1
python3-memcached
pytz==2017.2
requests==2.20.0
six==1.11.0
urllib3==1.23
whitenoise==3.3.1
python-decouple==3.1
django-widget-tweaks==1.4.3
google-api-python-client==1.7.4
numpy==1.16.1
pandas==0.24.1
scikit-learn==0.20.3
scipy==1.2.1
sklearn==0.0
