certifi
chardet
Django==2.2.28
django-braces==1.15.0
django-embed-video
djangorestframework==3.11.2
idna
olefile
Pillow==9.3.0
python3-memcached
pytz
whitenoise==3.3.1
dj-database-url
gunicorn
psycopg2-binary
python-decouple
django-redis
django-storages
boto3
django-widget-tweaks==1.4.3
google-api-python-client==1.7.4
numpy==1.22.0
pandas==1.1.5
scikit-learn==0.24.1
scipy==1.5.4
sklearn==0.0
django-webpack-loader==0.6.0
django-cors-headers==3.0.2
Markdown==3.1.1
django-taggit==1.1.0
django-taggit-serializer==0.1.7
mistune==2.0.3
pygments==2.7.4
celery==5.1.0
redis==3.4.1
django-autoslug==1.9.7
django-termsandconditions==2.0.11
django-crispy-forms==1.9.2