certifi
chardet
Django==1.11.20
django-braces==1.8.1
django-embed-video
djangorestframework
idna
olefile
Pillow
python3-memcached
pytz
whitenoise==3.3.1
dj-database-url
gunicorn
psycopg2-binary
python-decouple
redis==2.10.6
django-redis
django-storages
boto3
django-widget-tweaks==1.4.3
google-api-python-client==1.7.4
numpy==1.16.1
pandas==0.24.1
scikit-learn==0.20.3
scipy==1.2.1
sklearn==0.0
