certifi
chardet
Django==3.2.25
django-braces==1.15.0
django-embed-video
djangorestframework==3.11.2
idna
olefile
Pillow==10.3.0
python3-memcached
pytz
whitenoise==5.0.1
dj-database-url
gunicorn
psycopg2-binary
python-decouple
django-redis
django-storages
boto3
django-widget-tweaks==1.4.3
google-api-python-client==1.7.4
numpy==1.22.0
pandas==1.1.5
scikit-learn==1.0.1
scipy==1.10.0
sklearn==0.0
django-webpack-loader==0.6.0
django-cors-headers==4.2.0
Markdown==3.1.1
django-taggit==1.1.0
django-taggit-serializer==0.1.7
mistune==2.0.3
pygments==2.15.0
celery==5.4.0
redis==4.4.4
django-autoslug==1.9.8
django-crispy-forms==1.9.2
