certifi==2024.7.4
chardet==3.0.4
Django==3.2.25
django-braces==1.15.0
django-embed-video==1.0.0
django-memcache-status==1.1
djangorestframework==3.11.2
idna==3.7
olefile==0.44
Pillow==10.3.0
python3-memcached
pytz==2017.2
requests==2.31.0
six==1.11.0
urllib3==1.26.18
whitenoise==5.0.1
python-decouple==3.1
django-widget-tweaks==1.4.3
google-api-python-client==1.7.4
numpy==1.22.0
pandas==1.2.1
scikit-learn==1.0.1
scipy==1.10.0
sklearn==0.0
django-storages==1.7.1
django-webpack-loader==0.6.0
django-cors-headers==4.2.0
Markdown==3.1.1
django-taggit==1.1.0
django-taggit-serializer==0.1.7
mistune==2.0.3
pygments==2.15.0
celery==5.4.0
redis==4.4.4
django-autoslug==1.9.8
