{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
<div class="container mx-auto">

    <div class="flex justify-center px-6 my-12">

        <div class="w-full lg:w-1/2">
            <div class="px-8 mb-4 text-center">
                <p class="mb-4 text-sm text-gray-700">{% trans 'Your password has been set.' %} </p>

                <p class="mb-4 text-sm text-gray-700">{% trans 'You can ' %} <a href="{% url 'login' %}">{% trans 'login now' %}</a></p>
            </div>
        </div>
     </div>

</div>
{% endblock %}
