{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password changed' %}{% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">

        <div class="w-full lg:w-1/2">

            <div class="px-8 mb-4 text-center">

                <h3 class="pt-4 mb-2 text-2xl">{% trans 'Password changed' %}</h3>

                <p class="mb-4 text-sm text-gray-700">{% trans 'Your password has been successfully changed' %}.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
