{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{{ query_string }}
{% endblock %}

{% block content %}
<section class="search a-center">

    <div class="container">
        <div>

            {% if found_results %}
                <h3>{% trans 'Results for :' %} {{ query_string }}</h3>

                {% for result in found_results %}
                    <div><a href="{% url 'course_detail' result.slug %}">{{ result.title }}</a></div>
                    <div>{{ result.subject }}</div>
                    <div>{% trans 'Author' %}: {{ result.owner }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
 {% endblock %}
