{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{{ query_string }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div>
        {% if found_results %}
            <h2>{% trans 'Results for :' %} {{ query_string }}</h2>

            {% for result in found_results %}
                <div class="list-group">
                    <a href="{% url 'course_detail' result.slug %}" class="list-group-item">
                        <h4>{{ result.title }}</h4>

                        <p>{{ result.subject }}</p>

                        <small>{% trans 'Author' %}: {{ result.owner }}</small>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
 {% endblock %}
