{% extends "base.html" %}
   {% block title %}Delete course{% endblock %}
   {% block content %}
   <div class="container-fluid">
         <h1>Delete course "{{ object.title }}"</h1>
         <div>
           <form action="" method="post">
             {% csrf_token %}
             <p>Are you sure you want to delete "{{ object }}"?</p>
             <input type="submit" class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" value="Confirm">
           </form>
         </div>
     </div>
   {% endblock %}
