* {box-sizing: border-box; margin: 0; padding: 0; }
body { font-size: 16px; color: #444; font-family: 'Source Sans Pro', sans-serif; background-color: #e5e5e5; }
p, label { color: #999; }
.a-center { text-align: center; }
.a-left { text-align: left; }
.a-right { text-align: right; }
.container { width: 80%; margin: 0 auto; }
#header { background-color: #fff; border-bottom: 2px solid #DEDEDE; padding-top: 20px; padding-bottom: 20px; }
#content { background-color: #fff; }
.menu, .menu-secondary { list-style: none inside; }
.menu-item, .menu-item-secondary { display: inline-block; font-size: 0.8em; }
.menu-item-secondary { margin-left: 10px; }
.menu-item-secondary:first-child { margin-left: 0; }
.menu-item a, .menu-item-secondary a { color: #5eaeff; text-decoration: none; }
.menu-item a:hover, .menu-item-secondary a:hover { text-decoration: underline; }
.menu-item.sign-up { background-color: #4595e5; border-top: 1px solid #4595e5; border-left: 1px solid #4595e5; border-bottom: 1px solid #4595e5; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.menu-item.sign-up a { color: #fff; }
.menu-item.sign-up a:hover, .menu-item.log-in a:hover, .menu-item .logo:hover, .menu-item-secondary .logo:hover { text-decoration: none; }
.menu-item.log-in { background-color: #fff; color: #4595e5; border-top: 1px solid #4595e5; border-right: 1px solid #4595e5; border-bottom: 1px solid #4595e5; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.menu-item.sign-up, .menu-item.log-in { padding: 5px 20px; }
.menu-item.dash-board { margin-left: 20px; }
.logo { font-family: 'Comfortaa', cursive; font-size: 1.6em; margin-right: 30px; }
.fl-left { float: left; }
.fl-right { float: right; }
.clearfix { clear: both; float: none; display: table; width: 100%; height: 1px; }
#footer { background-color: #edf6ff; padding-top: 40px; padding-bottom: 40px; }
#footer small { color: #a6d2ff; }
.divider { border: 0; border-top: 1px solid #eee; height: 1px; margin: 1em 0; padding: 0; }
.hero { padding-top: 60px; padding-bottom: 55px; background-color: #c9e4ff; }
.explore, .students { background: #f5f5f5; }
.explore { padding-top: 55px; padding-bottom: 5px; }
.students, .teachers { padding-top: 60px; padding-bottom: 60px; }
.search { background-color: #fff; padding: 60px 0; }
.teachers { background-color: #fff; }
.column-50 { display: inline-block; width: 49%; vertical-align: top; }
.hero-title { color: #2e6399; font-size: 2.5em; font-weight: bold; }
.hero-subtitle { color: #3d84cc; font-weight: lighter; font-size: 1.3em; margin-top: 20px; margin-bottom: 20px; }
.btn { color: #fff; padding: 10px 18px; border-radius: 5px; text-decoration: none; display: inline-block; font-size: 1em; }
.btn-secondary { background-color: #3dcc84; border: 1px solid #35b274; }
.btn-primary { background-color: #4595e5; border: 1px solid #989898; }
.module { padding-bottom: 30px; padding-top: 25px; }
.text-primary { color: #2e6399; }
.text-secondary { color: #4595e5; }
.explore .description { margin: 2% 30% 0 0; }
.item-search { display: inline-block; }
.form-search { position: relative; }
.form-search input[type="search"] { display: inline-block; font-size: 1.1em; width: 300px; padding-left: 25px; }
input:focus { outline: 0 none; }
input[type="search"]::-webkit-input-placeholder{ color: #d5d5d5; }
input[type="search"]:-moz-placeholder { color: #d5d5d5; }
.mlr { margin-left: 10px; margin-right: 10px; }
.signup-form ul { list-style-type: none;}
.link { color: #4595e5; text-decoration: none; }
.link:active, .link:hover { text-decoration: underline; }

@media screen and (max-width: 639px) {
    .container { width: 90%; }
    .logo { margin-right: 0; }
    .menu-item, .menu-item-secondary:first-child, .column-50, .item-search, .form-search input[type="search"], .btn, .signup-form input, .login-form input { display: block; width: 100%; }
    .mlr { margin: 10px 0; }
    .menu-item:first-child, .menu-item-secondary:first-child, .explore h2, .explore .description, .menu-item:not(:first-child) { text-align: center; }
    .explore .description { margin: 5% 0; }
    .menu-item:first-child, .menu-item-secondary:first-child { margin-bottom: 20px; }
    .menu-item:not(:first-child) { padding: 5px 20px; font-size: 1.2em; }
    .fl-right, .fl-left { float: none; }
    .menu-item.log-in { border-left: 1px solid #4595e5; border-bottom: 0 none; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
    .menu-item.sign-up { border-right: 1px solid #4595e5; border-top: 0 none; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

}
