@charset "UTF-8";
@font-face { font-family: 'custom'; font-weight: normal; font-style: normal; src: url("../fonts/custom/custom.eot"); src: url("../fonts/custom/custom.woff") format("woff"), url("../fonts/custom/custom.ttf") format("truetype"), url("../fonts/custom/custom.eot?#iefix") format("embedded-opentype"); }

.icon[class^="icon-"], .icon[class*=" icon-"] { display: inline-block; font-family: 'custom'; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; text-transform: none; }

.icon-analytics-graph-bar:before { content: ""; }

.icon-baby-trolley:before { content: ""; }

.icon-baggage:before { content: ""; }

.icon-beach-parasol-water-1:before { content: ""; }

.icon-biking-person:before { content: ""; }

.icon-bin-2:before { content: ""; }

.icon-binocular:before { content: ""; }

.icon-bomb-grenade:before { content: ""; }

.icon-building-modern-1:before { content: ""; }

.icon-camera-flash:before { content: ""; }

.icon-coffee-cold:before { content: ""; }

.icon-coffee-machine:before { content: ""; }

.icon-cog:before { content: ""; }

.icon-content-ink-pen-write:before { content: ""; }

.icon-content-pen-3:before { content: ""; }

.icon-content-typing-machine:before { content: ""; }

.icon-couple-man-woman:before { content: ""; }

.icon-coupon-cut:before { content: ""; }

.icon-crypto-currency-bitcoin-imac:before { content: ""; }

.icon-dating-rose:before { content: ""; }

.icon-dating-smartphone-man:before { content: ""; }

.icon-design-tool-pen-station:before { content: ""; }

.icon-design-tool-quill-2:before { content: ""; }

.icon-desktop-monitor-download:before { content: ""; }

.icon-desktop-monitor-upload:before { content: ""; }

.icon-diet-waist-1:before { content: ""; }

.icon-e-learning-monitor:before { content: ""; }

.icon-email-action-receive:before { content: ""; }

.icon-filter-picture:before { content: ""; }

.icon-flag:before { content: ""; }

.icon-footwear-heels-ankle:before { content: ""; }

.icon-gauge-dashboard-1:before { content: ""; }

.icon-golf-hole:before { content: ""; }

.icon-graph-stats-circle:before { content: ""; }

.icon-hammer-1:before { content: ""; }

.icon-headphones-human:before { content: ""; }

.icon-human-resources-search-employees:before { content: ""; }

.icon-insurance-card:before { content: ""; }

.icon-lab-flask-experiment:before { content: ""; }

.icon-landmark-japan-shrine:before { content: ""; }

.icon-laptop-smiley-1:before { content: ""; }

.icon-lighter:before { content: ""; }

.icon-like-1:before { content: ""; }

.icon-login-2:before { content: ""; }

.icon-love-boat:before { content: ""; }

.icon-maps-pin:before { content: ""; }

.icon-medical-personnel-doctor:before { content: ""; }

.icon-megaphone-1:before { content: ""; }

.icon-messages-people-person-bubble-oval:before { content: ""; }

.icon-mobile-phone-2:before { content: ""; }

.icon-modern-tv-3d-glasses:before { content: ""; }

.icon-money-wallet-open:before { content: ""; }

.icon-nautic-sports-sailing-person:before { content: ""; }

.icon-office-work-wireless:before { content: ""; }

.icon-optimization-timer-1:before { content: ""; }

.icon-outdoors-tree-valley:before { content: ""; }

.icon-pencil-2:before { content: ""; }

.icon-people-man-graduate:before { content: ""; }

.icon-people-woman-glasses-1:before { content: ""; }

.icon-phone-actions-ring:before { content: ""; }

.icon-pin-monitor:before { content: ""; }

.icon-pin:before { content: ""; }

.icon-plane-trip-international:before { content: ""; }

.icon-presentation-board-graph:before { content: ""; }

.icon-print-text:before { content: ""; }

.icon-programming-flag:before { content: ""; }

.icon-rat:before { content: ""; }

.icon-rooster:before { content: ""; }

.icon-science-dna:before { content: ""; }

.icon-screen-1:before { content: ""; }

.icon-send-email-2:before { content: ""; }

.icon-shipment-upload:before { content: ""; }

.icon-shop-cashier-man:before { content: ""; }

.icon-shop-cashier-woman:before { content: ""; }

.icon-shopping-bag-heart:before { content: ""; }

.icon-shopping-bag-tag-1:before { content: ""; }

.icon-shopping-cart-download:before { content: ""; }

.icon-show-hat-magician-1:before { content: ""; }

.icon-skull-1:before { content: ""; }

.icon-skunk:before { content: ""; }

.icon-stamps-famous:before { content: ""; }

.icon-tablet-touch:before { content: ""; }

.icon-taking-pictures-circle:before { content: ""; }

.icon-target-center-2:before { content: ""; }

.icon-video-game-gamasutra:before { content: ""; }

.icon-video-game-mario-3:before { content: ""; }

.icon-video-game-mario-enemy:before { content: ""; }

.icon-video-player-1:before { content: ""; }

.icon-video-player-cloud:before { content: ""; }

.icon-video-player-monitor:before { content: ""; }

.icon-view-off:before { content: ""; }

.icon-view:before { content: ""; }

.icon-warehouse-cart-packages:before { content: ""; }

.icon-warehouse-storage-3:before { content: ""; }

.icon-wench-double:before { content: ""; }

.icon-whale-body:before { content: ""; }

.icon-wireless-payment-credit-card-dollar:before { content: ""; }
