*, *::before, *::after { box-sizing: inherit; }

html { box-sizing: border-box; height: 100%; }

@font-face { font-family: 'Oswald Regular'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Oswald-Regular.ttf") format("truetype"); }

@font-face { font-family: 'Oswald ExtraLight'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Oswald-ExtraLight.ttf") format("truetype"); }

@font-face { font-family: 'Oswald Light'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Oswald-Light.ttf") format("truetype"); }

@font-face { font-family: 'Oswald Medium'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Oswald-Medium.ttf") format("truetype"); }

@font-face { font-family: 'Oswald SemiBold'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Oswald-SemiBold.ttf") format("truetype"); }

@font-face { font-family: 'Lato Regular'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype"); }

@font-face { font-family: 'Lato Black'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-Black.ttf") format("truetype"); }

@font-face { font-family: 'Lato Black Italic'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype"); }

@font-face { font-family: 'Lato Bold'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype"); }

@font-face { font-family: 'Lato Bold Italic'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype"); }

@font-face { font-family: 'Lato Hairline'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-Hairline.ttf") format("truetype"); }

@font-face { font-family: 'Lato Hairline Italic'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-HairlineItalic.ttf") format("truetype"); }

@font-face { font-family: 'Lato Italic'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype"); }

@font-face { font-family: 'Lato Light'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-Light.ttf") format("truetype"); }

@font-face { font-family: 'Lato Light Italic'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype"); }

@font-face { font-family: 'Lato Medium'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-Medium.ttf") format("truetype"); }

@font-face { font-family: 'Lato Medium Italic'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-MediumItalic.ttf") format("truetype"); }

@font-face { font-family: 'Lato SemiBold'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-SemiBold.ttf") format("truetype"); }

@font-face { font-family: 'Lato SemiBold Italic'; font-weight: normal; font-style: normal; src: url("../fonts/Lato/Lato-SemiBoldItalic.ttf") format("truetype"); }

body { font-size: 16px; color: #000000; font-family: 'Lato Regular', Arial, sans-serif; background-color: #ffffff; line-height: 1.75; min-height: 100%; margin: 0; overflow-x: hidden; }

.logo { font-family: "Oswald Medium"; font-size: 1.6em; font-weight: bold; margin-right: 30px; }

.container { width: 80%; margin: 0 auto; display: table; }

#header { height: 6rem; color: #000000; background: #ffffff; line-height: 6rem; transform: translateY(0); transform: translate3d(0, 0, 0); transition: .25s transform; backface-visibility: hidden; }

#header::after { bottom: 0; -webkit-box-shadow: 0 0.0625rem 0.5rem rgba(0, 0, 0, 0.3); box-shadow: 0 0.0625rem 0.5rem rgba(0, 0, 0, 0.3); content: ''; left: 0; opacity: 0; position: absolute; right: 0; top: 0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; z-index: -1; }

#header.is-active::after { opacity: 1; }

.sticky { position: -webkit-sticky; position: sticky; will-change: transform; }

.sticky--top { top: 0; }

#header h1 { float: left; margin: 0 0 0 2rem; }

#header nav { float: right; font-size: 1.4rem; }

#header nav ul, #footer nav ul { margin: 0; padding: 0; list-style: none inside; }

#header nav li, #footer nav li { display: inline-block; padding: 0 2rem; }

#content { padding: 3rem 0; }

#footer { background-color: "white"; padding-top: 3rem; padding-bottom: 6rem; clear: both; }

#footer nav li { border-left: 0 none; }

#footer nav li, #footer nav li a { font-size: 0.8rem; }

#footer nav li a:hover { border-bottom: 0 none; }

.alert { text-align: center; padding: .5rem 0; margin-bottom: 1rem; }

.alert.alert-success { background-color: #c4f9af; }

.alert.alert-error { background-color: #f30f0f; }

.alert.alert-info { background-color: #0fa9f3; }

.alert.alert-info, .alert.alert-error { color: #ffffff; }

a { color: #000; font-weight: bold; text-decoration: none; }

p { margin: 1rem 0; }

a:hover { text-decoration: underline; }

a, p, label, span, li { font-size: 0.9rem; }

table { width: 100%; border-collapse: collapse; }

table thead { background-color: #f7f7f7; border: 1px solid #dcdcdc; }

table th, table td { padding: 0.5rem 0; text-align: center; }

table td { border-bottom: 1px solid #dcdcdc; }

.badge { padding: 0.2rem 0.5rem; text-align: center; }

.badge.badge-primary { background-color: #007bff; border-radius: 3px; color: #fff; }

.btn { text-align: center; -webkit-appearance: none; appearance: none; border: 0 none; border-radius: 5em; padding: 0.5rem 1rem; cursor: pointer; display: inline-block; white-space: nowrap; }

.btn.btn-primary { color: #ffffff; background-color: #000000; }

.btn.btn-secondary.btn-search { background-color: #fff; color: #000; height: 32px; }

.btn:focus { outline: 0 none; }

ul { list-style-type: none; }

.course-info h3 + p { margin-top: 1rem; margin-bottom: 1rem; }

.contents, .module { float: left; }

.contents { width: 20%; margin-right: 1%; }

.contents #modules li.selected { background-color: #000000; }

.contents #modules li.selected a { display: inline-block; width: 100%; height: 100%; color: #ffffff; padding: 0.5rem 0 0.5rem 0.3rem; }

img { max-width: 100%; height: auto; }

.login-form label, .signup-form label { display: block; margin-bottom: 0.5rem; }

.login-form form, .signup-form form { max-width: 100%; width: 100%; }

.login-form label, .login-form input[type="text"], .login-form input[type="password"], .signup-form label, .signup-form input[type="text"], .signup-form input[type="password"] { width: 100%; }

.login-form input[type="text"], .login-form input[type="password"], .signup-form input[type="text"], .signup-form input[type="password"] { border: 1px solid #000000; height: 32px; border-radius: 3px; padding: 0.2rem 0.4rem; font-size: 1rem; }

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus, .signup-form input[type="text"]:focus, .signup-form input[type="password"]:focus { outline: 0 none; border-color: #159bdc; }

.errorlist li { color: #f44336; }

.helptext { font-size: .8rem; margin-top: .7rem; }

.item-search { text-align: center; }

.item-search input[type="search"] { height: 32px; -webkit-appearance: none; appearance: none; width: 350px; box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2); border: 0 none; padding: 0.2rem 0.3rem; border-radius: 3px; font-size: 1rem; }

.item-search input[type="search"]:focus { outline: 0 none; }

.item-search input[type="search"]:hover { box-shadow: inset 0 1px 1px 1px rgba(97, 204, 237, 0.2); }

.icon { color: #000; font-size: 1rem; vertical-align: middle; }

.icon-people-man-graduate, .icon-people-woman-glasses-1, .btn.btn-primary .icon-bin-2 { color: #ffffff; font-size: 1.5rem; }

.btn.btn-primary .icon-bin-2 { font-size: 1rem; vertical-align: top; }

.breadcrumb { list-style-type: none; margin: 0; padding: 2em; color: #333; }

.breadcrumb a { max-width: 2em; transition: max-width 300ms ease-in-out; }

.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb li:hover a { max-width: 1000px; }

.breadcrumb-item { display: inline-block; position: relative; padding-right: 2em; margin: 0; overflow: hidden; }

.breadcrumb-item::after { content: '>'; position: absolute; display: inline-block; right: 0; width: 2em; text-align: center; background: #e3e3e3; background: linear-gradient(90deg, rgba(227, 227, 227, 0.4) 0%, #e3e3e3 35%); padding-left: 1em; }

.breadcrumb-item:last-child { font-weight: bold; }

.breadcrumb-item:last-child:after { content: ''; }

.breadcrumb-item:hover::after { padding-left: 0rem; background: transparent; }

.align-center { text-align: center; }

.splashscreen { font-size: 10rem; margin-top: 3rem; margin-bottom: 4rem; }

.form.modules label, .form.modules input, .form.modules textarea { display: block; }

.form.modules input[type="checkbox"] { margin-bottom: 1rem; }

.is-offline a:not(.is-cached) { cursor: not-allowed; pointer-events: none; opacity: .5; }

.is-offline a[href^="#"], .is-offline a[href^="mailto"], .is-offline a[href^="tel"] { cursor: auto; pointer-events: auto; opacity: 1; }

.is-offline form { position: relative; opacity: .65; cursor: not-allowed; pointer-events: none; }

.is-offline form::after { content: "Offline"; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: "white"; background-color: #2d2d2d; padding: 1rem 2rem; }
