{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans 'Videos' %}
{% endblock %}

{% block content %}
    <div id="tsr" class="container mx-auto lg:flex">
      <div class="sm:block lg:hidden mx-4 py-6">
            <div class="border-b">
                <h2 class="mt-2 font-hairline text-sm text-gray-700">{% trans 'Search for a video' %}</h2>
                <p class="text-gray-700 uppercase text-sm mb-6">{% if q %}<small>{% trans 'Results for' %} : {{ q }}</small>{% endif %}</p>

                <form method="get" novalidate>
                  <select name="results" id="results">
                      {% for max_length in max_lengths %}
                      <option value="{{ max_length }}">{{ max_length }}</option>
                      {% endfor %}
                  </select>
                  {% trans 'number of results' %}
                  {% for subject in subjects %}
                  <div class="input-group">
                      <input type="radio" checked="checked" name="q" id="q" value="{{ subject }}" /> {{ subject }}
                  </div>
                  {% endfor %}
                  <button class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2 border rounded-full mb-4" type="submit">{% trans 'Search' %}</button>
                </form>
            </div>
        </div>
        <div class="w-full lg:w-3/4 mx-4 lg:mx-16 py-6">
            <div class="border-b">
                <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4 mb-4 relative">
                  {% if videos %}
                  {% for item in videos.items %}
                    <div class="mr-1">
                        <div>
                        {% if item.id.kind == 'youtube#video' %}
                          <a href="#tsr" class="video" data-video-src="https://www.youtube.com/embed/{{ item.id.videoId }}">
                              {% elif item.id.kind == 'youtube#channel' %}
                          <a href="https://www.youtube.com/channel/{{ item.id.channelId }}" target="_blank">
                              {% elif item.id.kind == 'youtube#playlist' %}
                          <a href="https://www.youtube.com/playlist?list={{ item.id.playlistId }}" target="_blank">
                          {% endif %}
                            <img class="media-object" src="{{ item.snippet.thumbnails.default.url }}" width="{{ item.snippet.thumbnails.default.width }}" height="{{ item.snippet.thumbnails.default.height }}" alt="{{ item.snippet.title }}">
                          </a>
                        </div>
                        <div class="mb-4">
                            <h4 class="text-sm font-medium">{{ item.snippet.title }}</h4>
                            <p class="mt-2 font-hairline text-sm text-gray-700 whitespace-normal">
                                {{ item.snippet.description }}
                            </p>
                            <p class="inline block p-1 text-gray-700 bg-gray-300 font-hairline text-2xs">
                                {% if item.id.kind == 'youtube#video' %}
                                <span class="badge">{% trans 'video' %}</span>
                                {% elif item.id.kind == 'youtube#channel' %}
                                <span class="badge">{% trans 'channel' %}</span>
                                {% elif item.id.kind == 'youtube#playlist' %}
                                <span class="badge">{% trans 'playlist' %}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/4 py-6">
            <div class="border-b">
                <h2 class="mt-2 font-hairline text-sm text-gray-700">{% trans 'Search for a video' %}</h2>
                <p class="text-gray-700 uppercase text-sm mb-6">{% if q %}<small>{% trans 'Results for' %} : {{ q }}</small>{% endif %}</p>

                <form method="get" novalidate>
                  <select name="results" id="results">
                      {% for max_length in max_lengths %}
                      <option value="{{ max_length }}">{{ max_length }}</option>
                      {% endfor %}
                  </select>
                  {% trans 'number of results' %}
                  {% for subject in subjects %}
                  <div class="input-group">
                      <input type="radio" checked="checked" name="q" id="q" value="{{ subject }}" /> {{ subject }}
                  </div>
                  {% endfor %}
                  <button class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2 border rounded-full mb-4" type="submit">{% trans 'Search' %}</button>
                </form>
            </div>
        </div>
    </div>
    <div id="lecteur-video" class="is-hidden">
      <div class="absolute top-0 left-0 right-0 z-10 bg-white">
        <p><a href="#tsr" id="closeVideo">{% trans 'Close Video' %}</a></p>
        <div class="relative aspect-16x9">
            <!-- https://www.youtube.com/watch?v={{ item.id.videoId }} -->
              <iframe id="video-iframe" class="absolute pin h-screen w-screen" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

          </div>
      </div>
    </div>
 {% endblock %}

{% block domready %}
$('.video').on('click', function(evt) {
  evt.preventDefault();

  $('body #lecteur-video').removeClass('is-hidden');
  
  $('html, body').animate({ scrollTop: 0 }, "slow");
  return false;
});

$('#closeVideo').on('click', function(evt) {
  evt.preventDefault();

  $('body #lecteur-video').addClass('is-hidden');
  $('#video-iframe').attr('src', '');
});

$('.video').on('click', function(evt) {
    evt.preventDefault();

    var $this = $(this);
    var videoSrc = $this.data('video-src');

    if ($('#video-iframe').length) {
        $('#video-iframe').removeClass('hidden');
        $('#video-iframe').attr('src', videoSrc);

        return false
    }

    return true;
});
{% endblock %}
