*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000000;
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #ffffff;
    height: 100%;
    overflow-x: hidden;
}

.logo {
    font-size: 1.6em;
    font-weight: bold;
    margin-right: 30px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: table;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 6rem;
    color: #000000;
    background: #ffffff;
    line-height: 6rem;
    transform: translateY(0);
    transform: translate3d(0,0,0);
    transition: .25s transform;
    backface-visibility: hidden;
}

#header h1 {
    float: left;
    font-size: 1.4rem;
    margin: 0 0 0 2rem;
    text-transform: uppercase;
}

#header nav {
    float: right;
    font-size: 1.4rem;
}

#header nav ul,
#footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none inside;
}

#header nav li,
#footer nav li {
    display: inline-block;
    padding: 0 2rem;
}

#content {
    padding: 9rem 0;
}

#footer {
    background-color: "white";
    padding-top: 3rem;
    padding-bottom: 6rem;
    clear: both;
}

#footer nav li {
    border-left: 0 none;

}

#footer nav li,
#footer nav li a {
    font-size: 0.8rem;
}

#footer nav li a:hover {
    border-bottom: 0 none;
}

.alert {
    text-align: center;
    padding: .5rem 0;
    margin-bottom: 1rem;
    &.alert-success {
        background-color: #c4f9af;
    }
    &.alert-error {
        background-color: #f30f0f;
    }
    &.alert-info {
        background-color: #0fa9f3;
    }
    &.alert-info,
    &.alert-error {
        color: #ffffff;
    }
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 1rem 0;
}

a:hover {
    text-decoration: underline;
}

a,
p,
label,
span,
li {
    font-size: 0.9rem;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: #f7f7f7;
        border: 1px solid #dcdcdc;
    }

    th,
    td {
        padding: 0.5rem 0;
        text-align: center;
    }

    td {
        border-bottom: 1px solid #dcdcdc;
    }
}

.badge {
    padding: 0.2rem 0.5rem;
    text-align: center;
    &.badge-primary {
        background-color: #007bff;
        border-radius: 3px;
        color: #fff;
    }
}

.btn {
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border: 0 none;
    border-radius: 5em;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;

    &.btn-primary {
        color: #ffffff;
        background-color: #000000;
    }
    &.btn-secondary {}

    &.btn-secondary.btn-search {
        background-color: #fff;
        color: #000;
        height: 32px;
    }
    &:focus {
        outline: 0 none;
    }
}

ul {
    list-style-type: none;
}

.course-info h3 + p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contents,
.module {
    float: left;
}

.contents {
    width: 20%;
    margin-right: 1%;

    #modules li {
        &.selected {
            background-color: #000000;
        }
        &.selected a {
            display: inline-block;
            width: 100%;
            height: 100%;
            color: #ffffff;
            padding: 0.5rem 0 0.5rem 0.3rem;
        }
    }
}


img {
    max-width: 100%;
    height: auto;
}

.login-form,
.signup-form {
    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    form {
        max-width: 100%;
        width: 100%;
    }

    label,
    input[type="text"],
    input[type="password"] {
        width: 100%;
    }

    input[type="text"],
    input[type="password"] {
        border: 1px solid #000000;
        height: 32px;
        border-radius: 3px;
        padding: 0.2rem 0.4rem;
        font-size: 1rem;
        &:focus {
            outline: 0 none;
            border-color: #159bdc;
        }
    }
}

.errorlist li {
    color: #f44336;
}

.helptext {
    font-size: .8rem;
    margin-top: .7rem;
}

.item-search {
    text-align: center;

    input[type="search"] {
        height: 32px;
        -webkit-appearance: none;
        appearance: none;
        width: 350px;
        box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.2);
        border: 0 none;
        padding: 0.2rem 0.3rem;
        border-radius: 3px;
        font-size: 1rem;

        &:focus {
            outline: 0 none;
        }

        &:hover {
            box-shadow: inset 0 1px 1px 1px rgba(97, 204, 237, 0.2);
        }
    }
}

.icon {
    color: #000;
    font-size: 1rem;
    vertical-align: middle;
}

.icon-people-man-graduate,
.icon-people-woman-glasses-1,
.btn.btn-primary .icon-bin-2 {
    color: #ffffff;
    font-size: 1.5rem;
}

.btn.btn-primary .icon-bin-2 {
    font-size: 1rem;
    vertical-align: top;
}

//https://codemyui.com/collapsed-to-reveal-full-breadcrumbs-on-hover/#
.breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 2em;
    color: #333;
     a {
        max-width: 2em;
        transition: max-width 300ms ease-in-out;
    }
    a:hover,
    a:focus,
    li:hover a {
        max-width: 1000px;
    }
}

.breadcrumb-item {
    display: inline-block;
    position: relative;
    padding-right: 2em;
    margin: 0;
    overflow: hidden;
    &::after {
        content: '>';
        position: absolute;
        display: inline-block;
        right: 0;
        width: 2em;
        text-align: center;
        background: rgb(227,227,227);
        background: linear-gradient(90deg, rgba(227,227,227,0.4) 0%, rgba(227,227,227,1) 35%);
        padding-left: 1em;
    }
    &:last-child {
        font-weight: bold;
    }
    &:last-child:after {
        content: '';
    }
    &:hover::after {
        padding-left: 0rem;
        background: transparent;
    }
}

.align-center {
    text-align: center;
}

.splashscreen {
    font-size: 10rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.form.modules {
    label,
    input,
    textarea {
        display: block;
    }

    input[type="checkbox"] {
        margin-bottom: 1rem;
    }
}

.is-offline {
    a:not(.is-cached) {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .5;
    }

    a[href^="#"],
    a[href^="mailto"],
    a[href^="tel"] {
        cursor: auto;
        pointer-events: auto;
        opacity: 1;
    }
}

.is-offline form {
    position: relative;
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;

    &::after {
        content: "Offline";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: "white";
        background-color: #2d2d2d;
        padding: 1rem 2rem;
    }
}
