{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Circle' %}
{% endblock %}
{% block content %}
   <div class="container-fluid">
       {% include "partial/tabevents.html" %}
       <h1>Contacts dans le cercle {{object.name }}</h1>
        {% for user in object.contacts %}
        <p><a href="{% url 'contact_detail' user.contact.pk %}">{{ user.contact.user.username }}</a></p>
        <p> Email : {{user.contact.user.email}}</p>
        <p> Note : {{user.contact.optional_informations.notes}}</p>
        <p>Dans les cercles :
        {% for circle in user.contact.optional_informations.circle.all %}
        <a href="{{circle.get_absolute_url}}">{{circle}}
          ({{circle.contacts.count}})</a>
        {% endfor %}
        {% endfor %}
     </div>
{% endblock %}
