{% extends "base.html" %}
{% load i18n %}
   {% block title %}
    {% trans 'All contacts' %}
   {% endblock %}
   {% block content %}
   <div class="container-fluid">
       {% include "partial/tabevents.html" %}
         <ul>
             {% for contact in object_list %}
                <li>
                    <a href="{% url 'contact_detail' contact.pk %}">{{ contact.user }}</a>
                    <p> {% trans 'Email' %} : {{contact.user.email}}</p>
                    <p> {% trans 'Notes' %} : {{object.optional_informations.notes}}</p>
                    <p>{% trans 'In circle' %} :
{% for circle in contact.optional_informations.circle.all %}
<a href="{{circle.get_absolute_url}}">{{circle}}
  ({{circle.contacts.count}})</a>
{% endfor %}
</p>
                </li>
             {% endfor %}
         </ul>

         <a href="{% url 'create_invitation' %}">{% trans 'Add a contact' %}</a>
     </div>
   {% endblock %}

   {% block domready %}
   {% endblock %}
