{% extends "base.html" %}
{% load i18n %}
   {% block title %}
    {% trans 'Events' %}
   {% endblock %}
   {% block content %}
   <div class="container">
       <a href="{% url 'all_contacts' %}">{% trans 'All contacts' %}</a>
       <a href="{% url 'create_invitation' %}">{% trans 'Invite a friend' %}</a>
       <a href="{% url 'invitation_list' %}">{% trans 'List of invitations' %}</a>
       <a href="{% url 'create_circle' %}">{% trans 'Create circle' %}</a>
         <ul>
             {% for event in object_list %}
                <li>
                    <h3>
                        <a href="" class="titre">{{ event.name }}</a>
                        <a href="{{ event.get_absolute_url }}">({% trans 'details' %})</a>
                    </h3>
                    <div class="event">
                    <p>{{ event.date }}</p>
                    <p>{{ event.location }}</p>
                    {% for guest in event.eventguest_set.all %}
                    <div class="well">
                        {{ guest.guest }}: {{ guest.get_status_display }}
                    </div>
                    {% endfor %}
                    {% with delete_url=event.delete_url %}
                    {% include 'partial/delete_form.html' %}
                    {% endwith %}
                    <a href="{% url 'update_event' event.id %}" class="btn btn-default">{% trans 'Update' %}</a>
                    </div>
                </li>
             {% endfor %}
         </ul>

         <ul class="pagination">
             {% if page_obj.has_previous %}
             <li><a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
             {% endif %}
             {% for l in page_obj.paginator.page_range %}
                {% if forloop.counter < 5 %}
                    <li {% if l == events.number %}class="active"{% endif %}><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endif %}
             {% endfor %}
             {% if page_obj.has_next %}
             <li><a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>
             {% endif %}
        </ul>

         <a href="{% url 'create_event' %}" class="btn btn-primary">{% trans 'Create a new event' %}</a>
     </div>
   {% endblock %}

   {% block domready %}
   $('.event').hide();
   $('.titre').on('click', function(e) {
       $(this).parent().parent().children('.event').toggle();
       e.preventDefault();
   })
   {% endblock %}
