{% extends "base.html" %}
{% load i18n %}
   {% block title %}
    {% trans 'Events' %}
   {% endblock %}
   {% block content %}
   <div class="container-fluid">
       {% include "partial/tabevents.html" %}
         <div class="agenda">
             {% for event in object_list %}
                <div class="row row-striped">
                    <div class="col-md-2 col-xs-2 text-right">
                        <h1><span class="badge badge-secondary display-4">{{ event.date | date:"d" }}</span></h1>
                        <h2>{{ event.date | date:"M" }}</h2>
                    </div>
                    <div class="col-md-10 col-xs-10">
                    <h3 class="text-uppercase">
                        <a href="" class="titre"><strong>{{ event.name }}</strong></a>
                    </h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="glyphicon glyphicon-calendar
" aria-hidden="true"></span> {{ event.date | date:"M d" }}</li>
                        <li class="list-inline-item"><span class="glyphicon glyphicon-time
" aria-hidden="true"></span> {{ event.date | date:"h:m" }}</li>
                        <li class="list-inline-item"><span class="glyphicon glyphicon-globe
" aria-hidden="true"></span> {{ event.location }}</li>
                    </ul>
                    <a href="{{ event.get_absolute_url }}">({% trans 'details' %})</a>
                    <div class="event">
                    {% for guest in event.eventguest_set.all %}
                    <div class="well">
                        {{ guest.guest }}: {{ guest.get_status_display }}
                    </div>
                    {% endfor %}
                    {% with delete_url=event.delete_url %}
                    {% include 'partial/delete_form.html' %}
                    {% endwith %}
                    <a href="{% url 'update_event' event.id %}" class="btn btn-default">{% trans 'Update' %}</a>
                    </div>
                    </div>
                </div>
             {% endfor %}
         </div>

         <ul class="pagination">
             {% if page_obj.has_previous %}
             <li><a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
             {% endif %}
             {% for l in page_obj.paginator.page_range %}
                {% if forloop.counter < 5 %}
                    <li {% if l == events.number %}class="active"{% endif %}><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endif %}
             {% endfor %}
             {% if page_obj.has_next %}
             <li><a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></li>
             {% endif %}
        </ul>

         <a href="{% url 'create_event' %}" class="btn btn-primary">{% trans 'Create a new event' %}</a>
     </div>
   {% endblock %}

   {% block domready %}
   $('.event').hide();
   $('.titre').on('click', function(e) {
       $(this).parent().parent().children('.event').toggle();
       e.preventDefault();
   })
   {% endblock %}
