{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans 'Update your interests' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>{% trans 'Update your interests' %}</h2>
    <div class="quiz">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" type="submit">{% trans 'Save' %}</button>
            <a href="{% url 'students:student_quiz_list' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
        </form>
    </div>
</div>
 {% endblock %}
