{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans 'My Quizzes' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="quizzes">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">{% trans 'My Quizzes' %}</li>
            </ol>
        </nav>

        <h2>{% trans 'My Quizzes' %}</h2>
        <a href="{% url 'students:teacher_add_quiz' %}" class="btn btn-primary mb-3" role="button">{% trans 'Add Quiz' %}</a>

        <div class="quiz">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>{% trans 'Quiz' %}</th>
                        <th>{% trans 'Tag' %}</th>
                        <th>{% trans 'Question' %}</th>
                        <th>{% trans 'Taken' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td><a href="{% url 'students:teacher_update_quiz' quiz.pk %}">{{ quiz.name }}</a></td>
                            <td>{{ quiz.tags.get_html_badge }}</td>
                            <td>{{ quiz.questions_count }}</td>
                            <td>{{ quiz.taken_count }}</td>
                            <td class="text-right">
                              <a href="{% url 'students:teacher_quiz_results' quiz.pk %}" class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full">{% trans 'View results' %}</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">{% trans 'No quiz created right now.' %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

 {% endblock %}
