{% extends "base.html" %}
   {% block title %}
     {% if object %}
       Edit course "{{ object.title }}"
     {% else %}
       Create a new course
     {% endif %}
   {% endblock %}

   {% block content %}
   <div class="container-fluid">
       <h1>
           {% if object %}
             Edit course "{{ object.title }}"
           {% else %}
             Create a new course
           {% endif %}
         </h1>

         <div>
           <h2>Course info</h2>
           <form action="." method="post">
               {{ form.as_p }}
               {% csrf_token %}
             <p><input type="submit" class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" value="Save course"></p>
           </form>
         </div>
     </div>
   {% endblock %}
