{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block content %}
<div class="container-fluid">
     <h1>My courses</h1>
     <div>
       {% for course in object_list %}
         <div>
           <h3>{{ course.title }}</h3>
           <p>
             <a href="{% url 'course_edit' course.id %}">Edit</a>
             <a href="{% url 'course_delete' course.id %}">Delete</a>
             <a href="{% url 'course_module_update' course.id %}">Edit modules</a>
             {% if course.modules.count > 0 %}
                <a href="{% url 'module_content_list' course.modules.first.id %}">Manage content</a>
             {% endif %}
           </p>
         </div>
       {% empty %}
         <p>You haven't created any courses yet.</p>
       {% endfor %}
       <p>
         <a href="{% url "course_create" %}" class="btn btn-primary">Create new
   course</a>
</p> </div>
</div>
   {% endblock %}
