{% extends "base.html" %}
{% load blog_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <article class=post-detail"">
            <h2>{{ post.title }}</h2>

            <p class="post-meta">{% trans 'Published' %} {{ post.publish|naturaltime }} - <a href="{% url 'post_share' post.id %}">{% trans 'Share this post' %}</a></p>

            <p>{{ post.body|markdown|safe }}</p>

            <p class="tags">
                {% trans 'Tags' %}:
                {% for tag in post.tags.all %}
                    <a href="{% url 'post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>

            <p class="likes">
                <a href="#" class="btn_like blog-like" data-post-id="{{ post.id }}">
                    <span class="like_count">{{ post.likes }}</span>
                    <span class="show_like icon-heart"><i class="glyphicon glyphicon-heart"></i></span>
                </a>
            </p>

            <hr noshade="noshade" />

            {% for comment in comments %}
             <div class="comment" id="comments">
                   <p class="info">
                       Comment {{ forloop.counter }} - {{ comment.name }} {{ comment.created|naturaltime }}
                   </p>

                   {{ comment.body|linebreaks }}
                 </div>
               {% empty %}
                 <div class="no-comment">{% trans 'There are no comments yet' %}.</div>
            {% endfor %}

            {% if user.is_authenticated %}
                {% if new_comment %}
                    <h3 class="center-align">{% trans 'Your comment has been added' %}.</h3>
                {% else %}
                    <h3>Add a new comment</h3>
                    <form action="" method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" class="btn btn-lg btn-primary btn-block" value="Add comment"></p>
                </form>
                {% endif %}
            {% endif %}

            <h3 class="left-align">{% trans 'You might also enjoy' %}</h3>

            <div class="similar">
                {% for post in similar_posts %}
                    <div class="similar-box">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </div>
                {% empty %}
                    <div class="no-data">{% trans 'There are no similar post yet' %}.</div>
                {% endfor %}
            </div>
        </article>
    </div>
{% endblock %}

{% block domready %}
var $buttonLike = $('.btn_like'),
    $likeData = $('.like_count'),
    $icon = $('.btn_like .icon-heart'),
    url;

$buttonLike.on('click', function(e) {
    e.preventDefault();

    var id = $(this).data('post-id');
    var xhr = new XMLHttpRequest();

    if ($buttonLike.hasClass('blog-like')) {
        url = '/blog/post/like/?post_id=' + id;
    }

    xhr.open('GET', url);
    xhr.onload = function() {
        if (xhr.status === 200) {
            $likeData.html(xhr.responseText);
        } else {
            alert('request failed' + xhr.status);
        }
    };
    xhr.send();
});

{% endblock %}
