{% extends "base.html" %}
{% load blog_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}
    {% trans 'Blog / All posts' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if tag %}
            <h2>{% trans 'Posts tagged with' %} {{ tag.name }}</h2>
        {% endif %}
        <div class="row">
            <div class="col-sm-8">
                {% for post in posts %}
                <div class="blog-post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p class="blog-meta">{{ post.publish|naturaltime }}</p>
                </div>
                {% endfor %}
                {% include 'partial/pagination.html' with page=posts %}
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>{% trans 'About' %}</h4>
                    <p>{% trans 'Here some news about elearning' %}.</p>
                </div>
                <div class="sidebar-module">
                    <p>{% total_posts %} {% trans 'posts' %}</p>
                    <h5>{% trans 'Latest posts' %}</h5>
                    {% show_latest_posts 5 %}

                    <h5>{% trans 'Most liked posts' %}</h5>
                    {% show_liked_posts 3 %}

                    <h5>{% trans 'Most commented posts' %}</h5>
                    {% get_most_commented_posts 3 as most_commented_posts %}
                    <ul>
                        {% for post in most_commented_posts %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">
                            {{ post.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block domready %}
{% endblock %}
