{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Share the post' %} {{ post.title }}
{% endblock %}
{% block content %}
   <div class="container-fluid">
       <div>
           {% if sent %}
                <h3>{% trans 'Email successfully sent' %}</h3>
                <p>{{ post.title }} {% trans 'was successfully sent to' %} {{ form.cleaned_data.to }}</p>
           {% else %}
                <h3>{% trans 'Share ' %} {{ post.title }} {% trans 'by email' %}</h3>
                 <form action="" method="post">
                   {{ form.as_p }}
                   {% csrf_token %}
                   <p><input type="submit" class="btn btn-primary" value="{% trans 'Share' %}"></p>
                 </form>
         {% endif %}
       </div>
     </div>
{% endblock %}
