{% extends "base.html" %}
{% load i18n %}
   {% block title %}
       {{ object.title }}
   {% endblock %}
   {% block content %}
   <div class="container-fluid">
       {% with subject=course.subject %}
           <h1>
               {{ object.title }}
           </h1>
           <div>
               <h2>{% trans "Overview" %}</h2>
               <p>
                   <a href="{% url 'course_list_subject' subject.slug %}" class="link">{{ subject.title }}</a>.
                   {{ course.modules.count }} modules. Instructor: {{ course.owner.username }}
               </p>
               {{ object.overview|linebreaks }}

               {% if request.user.is_authenticated and course.modules.count > 0%}
                   <form action="{% url 'student_enroll_course' %}" method="post">
                       {{ enroll_form }}
                       {% csrf_token %}
                       <input type="submit" class="btn btn-primary" value="Enroll now">
                   </form>
                {% elif request.user.is_authenticated and course.modules.count == 0 %}
                    {% trans "In progress" %}...
                {% else %}
                   <a href="{% url 'student_registration' %}" class="btn btn-primary">
                       {% trans 'Register to enroll' %}
                   </a>
               {% endif %}
           </div>
       {% endwith %}
       <hr />
       {% if course.reviews.all %}
            {% trans 'Reviews' %}
           {% for review in course.reviews.all %}
           <div>
               <h6>{% trans 'rated' %} {{ review.rating }} {% trans 'of 5 by' %} <a href="{% url 'user_detail' review.user_name %}">
               {{ review.user_name }}</a></h6>
               <p>{{ review.comment }}</p>
           </div>
           {% endfor %}
       {% endif %}
      {% if request.user.is_authenticated %}
          <form action="{% url 'add_review' course.slug %}" method="post" novalidate>
              {% csrf_token %}
              {{ review_form.as_p }}
              <input type="submit" class="btn btn-default" value="{% trans 'Add review'%}" />
          </form>
      {% endif %}
   </div>
   {% endblock %}
