{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load gravatar %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block content %}
<div class="w-full">
{% with subject=course.subject %}
    <div>
        <div class="bg-cover bg-center h-56 p-4" style="background-image: url({% static 'images/404-error.jpg' %})">
        </div>
        <div class="m-2 text-justify text-sm">
            <div class="flex flex-wrap items-center -mt-8 pb-3 ">
                <a href="{% url 'user_detail' course.owner.username %}">
                <img class="rounded-circle"
                    src="{{ course.owner|gravatar }}"
                    alt="">
                <span class="block text-lg font-bold">
                    {% trans 'Instructor' %} : {{ course.owner.username }}
                </span>
                </a>
            </div>
            <p class=" text-right  text-xs"><a href="{% url 'course_list_subject' subject.slug %}">{{ subject.title }}</a> / {{ course.created | date:"d M Y" }} </p>
            <h2 class=" font-bold h-2 mb-5 text-center"> {{ object.title }} </h2>
            <p class=" text-xs p-3"> {{ object.overview|linebreaks }}</p>
            <p class=" text-xs p-3">
                {{ course.modules.count }} {% trans 'module(s)' %} 
            </p>
            {% if course.modules.count > 0 %}
            <ul class="p-3">
            {% for module in course.modules.all %}
            <li>- {{ module.title }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if request.user.is_authenticated and course.modules.count > 0%}
            <form action="{% url 'student_enroll_course' %}" method="post">
                {{ enroll_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2 border rounded-full" value="{% trans 'Enroll now' %}">
            </form>
            {% elif request.user.is_authenticated and course.modules.count == 0 %}
                <p class=" text-xs p-3">{% trans "In progress" %}...</p>
            {% else %}
                <a href="{% url 'student_registration' %}" class="btn btn-primary bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full">
                    {% trans 'Register to enroll' %}
                </a>
            {% endif %}
        </div>
        {% if course.reviews.all %}
        {% for review in course.reviews.all %}
        <div class="row mb-4">
            <div class="col-md-6 col-md-offset-3">
                <div class="card">
                    <div class="content">
                        <div>
                            {% with ''|center:review.rating as range %}
                            {% for i in range %}
                                <svg class="w-4 h-4 fill-current text-yellow-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
                            {% endfor %}
                            {% endwith %}
                            {% trans 'rated' %} {{ review.rating }} {% trans 'of 5' %}
                        </div>
                        <p>{{ review.comment }}</p>
                        <div class="footer">
                            <div class="author">
                                <a class="card-link">
                                    <img class="rounded-circle w-20" src="{{ review.user_name|gravatar }}" alt="">
                                    <span>{{ review.user_name }}</span>
                                </a>
                            </div>
                            <div class="pull-right">
                                {{ review.created|date:"d M Y" }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if request.user.is_authenticated %}
        <div class="p-3">
            <form action="{% url 'add_review' course.slug %}" method="post" novalidate>
                {% csrf_token %}
                {{ review_form.as_p }}
                <input type="submit" class="btn btn-primary bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" value="{% trans 'Add review'%}" />
            </form>
        </div>
        {% endif %}
    </div>
{% endwith %}
</div>
{% endblock %}
