{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
{% if subject %}
{{ subject.title }} {% trans 'courses' %}
{% else %}
{% trans 'All courses' %}
{% endif %}
{% endblock %}

{% block content %}
<div id="courses-list">
    <section class="py-7">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <form action="{% url 'search' %}" method="POST" id="form" role="form">
                    {% csrf_token %}
                    <input type="search" class="form-control" name="q" id="q" autocomplete="off"
                        ic-post-to="{% url 'search-ajax-submit' %}" ic-trigger-on="keyup changed"
                        ic-trigger-delay="300ms" ic-target="#search-result-container" required pattern="\S+.*"
                        placeholder="{% trans 'Search for a topic and press enter' %}">
                </form>
            </div>
        </div>
        <div id="search-result-container"></div>
    </section>
    <div class="row">
        <div class="col-12">
            <div class="dropdown">
                <button class="btn bg-gradient-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans 'Subjects' %}
                </button>
                <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownMenuButton">
                    <li class="{% if not subject %}active{% endif %}"><a class="dropdown-item border-radius-md"
                            href="{% url 'course_list' %}">{% trans 'All' %}</a></li>
                    {% for s in subjects %}
                    <li class="{% if subject == s %}active{% endif %}">
                        <a href="{% url 'course_list_subject' s.slug %}" class="dropdown-item border-radius-md">
                            {{ s.title }} <span class="badge rounded-pill bg-light text-dark">{{ s.total_courses }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12">
            <section class="py-3">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="mb-5">
                            {% if subject %}
                            {{ subject.title }} {% trans 'courses' %}
                            {% else %}
                            {% trans "All courses" %}
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    {% for course in courses %}
                    {% with subject=course.subject %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-plain card-blog">
                            <div class="card-image border-radius-lg position-relative">
                                <a href="{% url 'course_detail' course.slug %}">
                                    <img class="w-100 border-radius-lg move-on-hover shadow"
                                        src="{% static 'images/404-error.jpg' %}" alt="{{ course.title }}">
                                </a>
                            </div>
                            <div class="card-body px-0">
                                <h5>
                                    <a href="{% url 'course_detail' course.slug %}" class="text-dark font-weight-bold">{{ course.title }}</a>
                                </h5>
                                <p>
                                    <a class="hidden" href="{% url 'course_list_subject' subject.slug %}">
                                        {{ subject }}
                                    </a>
                                    {{ course.total_modules }} {% trans 'modules' %}<br />
                                    {% if course.average_rating %}
                                        {{ course.average_rating|floatformat:0 }} {% trans 'star(s)' %}
                                    {% endif %} &middot; {{ course.created | date:"M d" }}<br />
                                    <a href="{% url 'course_detail' course.slug %}">
                                        {{ course.total_reviews }} {% trans 'reviews' %}
                                    </a>
                                </p>
                                <a href="{% url 'course_detail' course.slug %}" class="text-info icon-move-right">
                                    {% trans 'Join Course' %}
                                    <i class="fas fa-arrow-right text-sm"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
    <section class="py-7">
        <div class="container">
            <div class="row justify-space-between py-2">
                <div class="col-lg-4 mx-auto">
                    <ul class="pagination pagination-primary m-4">
                        {% if courses.has_previous %}
                        <li class="page-item"><a href="?page={{ courses.previous_page_number }}" class="page-link"
                                aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-double-left"
                                        aria-hidden="true"></i></span></a></li>
                        {% else %}
                        <li class="page-item disabled"><span><span aria-hidden="true"><i class="fa fa-angle-double-left"
                                        aria-hidden="true"></i></span></span></li>
                        {% endif %}
                        {% for i in courses.paginator.page_range %}
                        {% if courses.number == i %}
                        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if courses.has_next %}
                        <li class="page-item"><a href="?page={{ courses.next_page_number }}" class="page-link"
                                aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-double-right"
                                        aria-hidden="true"></a></li>
                        {% else %}
                        <li class="page-item disabled"><span aria-hidden="true"><i class="fa fa-angle-double-right"
                                    aria-hidden="true"></i></span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
{% endblock %}