{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% if subject %}
   {{ subject.title }} courses
{% else %}
    All courses
{% endif %}
{% endblock %}

{% block content %}
<div class="container admin">
   <h1 class="header">
       {% if subject %}
           {{ subject.title }} {% trans 'courses' %}
       {% else %}
           {% trans "All courses" %}
       {% endif %}
   </h1>
   <div class="admin__nav" class="subjects">
       <ul id="modules" class="menu">
           <li class="{% if not subject %}selected{% endif %} menu__item">
               <a href="{% url 'course_list' %}" class="menu__link">{% trans 'All' %}</a>
           </li>
           {% for s in subjects %}
               <li class="{% if subject == s %}selected{% endif %} menu__item">
                   <a href="{% url 'course_list_subject' s.slug %}" class="menu__link">
{{ s.title }}
                       <br><span>{{ s.total_courses }} {% trans 'courses' %}</span>
                   </a>
               </li>
           {% endfor %}
</ul> </div>
   <div class="admin__main">
       <div class="dashboard">
           {% for course in courses %}
                <div class="courses dashboard__item dashboard__item--col">
                   {% with subject=course.subject %}
                   <div class="card">
                      <a href="{% url 'course_detail' course.slug %}" class="link"> <h3>{{ course.title }} </h3></a>
                       <p>
                           <a href="{% url 'course_list_subject' subject.slug %}" class="link">{{ subject }} </a>.
                           {{ course.total_modules }} {% trans 'modules' %}.
                           {% trans 'Instructor' %}: {{ course.owner.username }}
                       </p>
                       <p>
                           {{ course.created | date:"M d" }}
                       </p>
                       <p>
                           {{ course.total_reviews }} {% trans 'reviews' %}
                       </p>
                       <p>
                           {% if course.average_rating %}
                            {{ course.average_rating|floatformat:1  }} {% trans 'average rating' %}
                           {% endif %}
                       </p>
                   </div>
                   {% endwith %}
               </div>
           {% endfor %}
       </div>
    </div>
   <div class="admin__footer">{% trans 'courses owned by teachers.'%}</div>
</div>
 {% endblock %}
