{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'Edit your account' %}{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="page-title">
        <h3>{% trans 'Edit your account' %}</h3>
    </div>

    <div class="page-content">
        <p>{% trans 'You can edit your account using the following form' %} :</p>

        <form action="{% url 'courses:edit' %}" method="POST" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {% for field in user_form %}
            <div class="mb-4">

              {% render_field field class="flex-grow h-8 px-2 rounded border border-gray-400" placeholder=field.label %}

              {% if field.help_text %}
                <small class="form-text text-muted">
                  {{ field.help_text }}
                </small>
              {% endif %}
            </div>
          {% endfor %}
          {% for field in profile_form %}
            <div class="mb-4">

              {% render_field field class="flex-grow h-8 px-2 rounded border border-gray-400" placeholder=field.label %}

              {% if field.help_text %}
                <small class="form-text text-muted">
                  {{ field.help_text }}
                </small>
              {% endif %}
            </div>
          {% endfor %}
          <input type="submit" class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" value="{% trans 'Save changes' %}" />
        </form>

    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'scripts/libs/pikaday.js' %}"></script>
<script src="{% static 'scripts/libs/pikaday.jquery.js' %}"></script>

<script>
var $datepicker = $('input[name="birthdate"]').pikaday({
    firstDay: 1,
    format: 'YYYY-M-D',
    toString(date, format) {
        // you should do formatting based on the passed format,
        // but we will just return 'YYYY-M-D' for simplicity
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();
        return `${year}-${month}-${day}`;
    },
    parse(dateString, format) {
        // dateString is the result of `toString` method
        const parts = dateString.split('-');
        const day = parseInt(parts[2], 10);
        const month = parseInt(parts[1], 10) - 1;
        const year = parseInt(parts[0], 10);
        return new Date(year, month, day);
    },
    minDate: new Date(1920, 0, 1),
    maxDate: new Date(2020, 12, 31),
    yearRange: [1920,2020]
});
</script>
{% endblock %}
