{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'Edit your account' %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <h3>{% trans 'Edit your account' %}</h3>
    </div>

    <div class="page-content">
        <p>{% trans 'You can edit your account using the following form' %} :</p>

        <form action="{% url 'edit' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% for field in user_form %}
              <div class="form-group">
                {{ field.label_tag }}

                {% render_field field class="form-control" %}

                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <input type="submit" class="btn" value="{% trans 'Save changes' %}" />
        </form>

    </div>
</div>
{% endblock %}
