{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'Log In' %}{% endblock %}
{% block content %}
<div class="container">
<h1>Log in</h1>
<div class="login">
    {% if form.errors %}
        <p>{% trans 'Your username and password didn\'t match. Please try again.' %}</p>
    {% else %}
        <p>{% trans 'Please, use the following form to log-in:' %}</p>
    {% endif %}
    <div class="login-form">
        <form method="post" novalidate>
            <input type="hidden" name="next" value="{{ next }}">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }}

                {% render_field field class="form-control" %}

                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="{% trans 'Log In' %}" />
        </form>
        <p><a href="{% url 'password_reset' %}">{% trans 'Forgot password ?' %}</a>
    </div>
</div>
</div>
{% endblock %}
