{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'Change your password' %}{% endblock %}

{% block content %}
<div class="container">
    <h3>{% trans 'Change your password' %}</h3>

    {% if form.errors %}
        <p>{% trans 'Password didn\'t match. Please try again.' %}</p>
    {% else %}
        <p>{% trans 'Please, use the following form to change your password:' %}</p>
    {% endif %}

    <form action="." method="POST" novalidate>
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}

            {% render_field field class="form-control" %}

            {% if field.help_text %}
              <small class="form-text text-muted">
                {{ field.help_text }}
              </small>
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{% trans 'Change password' %}" />
    </form>


</div>
{% endblock %}
