{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">

        <div class="w-full lg:w-1/2">

            <div class="px-8 mb-4 text-center">

                <h2 class="pt-4 mb-2 text-2xl">{% trans 'Reset your password' %}</h2>

                <p class="mb-4 text-sm text-gray-700">{% trans 'We\'ve emailed you instructions for setting your password.' %}</p>

                <p class="mb-4 text-sm text-gray-700">{% trans 'If you don\'t receive an email, please make sure you\'ve entered the address you registered with.' %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
