{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block content %}
<div class="container">

    <h2>{% trans 'Reset your password' %}</h2>

    {% if form.errors %}
        <p>{% trans 'Enter your e-mail address to obtain a new password.' %}</p>
    {% endif %}
    <div class="formset">
        <form action="." method="POST" novalidate>
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }}

                {% render_field field class="form-control" %}

                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="{% trans 'Send an e-mail' %}" />
        </form>

    </div>

</div>
{% endblock %}
