{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{% trans 'Change your password' %}{% endblock %}

{% block content %}
<div class="container mx-auto">
  <div class="flex justify-center px-6 my-12">
    <div class="w-full xl:w-3/4 lg:w-11/12 flex">
      <div
          class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg" style="background-image: url('{% static 'images/login-page.jpeg' %}')"></div>
      <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
        <div class="px-8 mb-4 text-center">
          <h3 class="pt-4 mb-2 text-2xl">{% trans 'Change Your Password' %}</h3>

          <p class="mb-4 text-sm text-gray-700">{% trans 'Please enter your new password twice:' %}</p>
        </div>
          <form action="." class="px-8 pt-6 pb-8 mb-4 bg-white rounded" method="post" novalidate>
            {% if form.errors %}
              <p>{% trans 'Password did not match. Please try again.' %}</p>
            {% endif %}
            {% csrf_token %}

            {% for field in form %}
              <div class="mb-4">
                {% render_field field class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" placeholder=field.label %}
              </div>
            {% endfor %}
            <div class="mb-6 text-center">
              <button
                class="w-full px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline"
                type="submit"
              >
                {% trans 'Change Password' %}
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
