{% extends "base2.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans 'Sign up' %}{% endblock %}
{% block content %}
<div class="w-full">
    <div class="flex bg-white" style="height:600px;">
        <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
            <div>
                <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">{% trans 'Create an account' %} <span class="text-teal-600">{% trans 'for free' %}</span></h2>
                <p class="mt-2 text-sm text-gray-500 md:text-base">{% trans 'Sign up as a student for increase your knowledge or become a teacher and provide useful tech courses' %}!</p>
                <div class="flex justify-center lg:justify-start mt-6">
                    <a class="px-4 py-3 bg-gray-900 text-gray-200 text-xs font-semibold rounded hover:bg-gray-800" href="{% url 'students:student_registration' %}">
                        {% trans 'I am a student' %}
                    </a>
                    <a class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400" href="{% url 'students:teacher_registration' %}">
                        {% trans 'I am a teacher' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
            <div class="h-full object-cover" style="background-image: url({% static 'images/signup-page.jpeg' %})">
                <div class="h-full bg-black opacity-25"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
