{% extends "base.html" %}
{% load i18n %}
   {% block title %}
       {% trans 'Sign up as' %} {{ user_type }}
   {% endblock %}
   {% block content %}
   <div class="container">
       <h1>Sign up </h1>
       <div class="signup">
           <p>{% trans "Enter your details to create an account as" %} {{ user_type }}</p>
           <div class="signup-form">
               <form id="user_form" accept-charset="utf-8" action="" method="post" novalidate>
                   {{ form.as_p }}
                   {% csrf_token %}

                    <p><input type="submit" class="btn btn-primary" value="Create an account"></p>
               </form>
           </div>
            <p>{% trans "Already an account ?" %} <a href="{% url 'login' %}" class="link">{% trans 'Log in' %}</a>.</p>
       </div>
   </div>
   {% endblock %}
