{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Sign up' %}{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
    <h1>{% trans 'Sign up for a free account' %}</h1>

    <p>{% trans 'Sign up as a student for increase your knowledge <br/> or become a teacher and provide useful tech courses.' %}</p>

    <div class="module">
        <a href="{% url 'student_registration' %}" class="btn btn-primary" role="button"> {% trans 'I\'m a student' %}</a>
        <a href="{% url 'teacher_registration' %}" class="btn btn-primary" role="button"> {% trans 'I\'m a teacher' %}</a>
    </div>
    </div>
</div>
{% endblock %}
