{% extends "base.html" %}
{% load i18n %}
   {% block title %}
     {% trans 'Edit' %} "{{ course.title }}"
   {% endblock %}
   {% block content %}
   <div class="container-fluid">
         <h1>Edit "{{ course.title }}"</h1>
         <div class="form modules">
           <h2>Course modules</h2>
           <form action="" method="post">
             {{ formset.as_p }}
             {{ formset.management_form.as_p }}
             {% csrf_token %}
             <input type="submit" class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" value="{% trans 'Save modules' %}">
         </form>
      </div>
    </div>
{% endblock %}
