{% extends "base.html" %}
   {% block title %}
     Edit "{{ course.title }}"
   {% endblock %}
   {% block content %}
   <div class="container">
         <h1>Edit "{{ course.title }}"</h1>
         <div class="form">
           <h2>Course modules</h2>
           <form action="" method="post">
             {{ formset }}
             {{ formset.management_form }}
             {% csrf_token %}
             <input type="submit" class="btn btn-primary" value="Save modules">
         </form>
      </div>
    </div>
{% endblock %}
