{% extends "base.html" %}
{% load stored_messages_tags %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Notification' %}
{% endblock %}

{% block content %}

<div class="container">
    <div>
        <ul>
            <li class="{% if unread %}active{% endif %}"><a href="{% url 'messages' %}?unread">{% trans 'Unread' %}</a></li>
            <li class="{% if not unread %}active{% endif %}"><a href="{% url 'messages' %}">{% trans 'All' %}</a></li>
        </ul>
        {% if not unread %}
            {% stored_messages_archive 100 %}
        {% else %}
            {% if messages %}
                <ul class="list-group">
                    {% for message in messages %}
                        <li class="list-group-item">
                            {{ message.message.date | date:'MMM d, y h:mm:ss a' }} - {{ message.message.message }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">No messages here</li>;
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
</div>
 {% endblock %}
