{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %}
{% trans 'Feeback' %}
{% endblock %}

{% block content %}

<header>
  <div class="min-vh-85">
    <div>
      <iframe
        class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
        width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no"
        src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Paris&ie=UTF8&t=&z=14&iwloc=B&output=embed"
        style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
    </div>
    
    <div class="container">
      <div
        class="row">
        <div class="col-lg-7 d-flex justify-content-center flex-column">
          <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
            <div class="text-center">
              <h3 class="text-gradient text-primary">
                {% trans 'Feedback' %}
              </h3>
              <p class="mb-0">
                {% trans 'Feel free to contact us if you have questions or suggestions' %}
              </p>
            </div>
              <form action="." method="post" autocomplete="off" novalidate>
                <div class="card-body pb-2">
                  {% csrf_token %}
                  {% for field in form %}
                  <div>
                    <label>{{ field.label }}</label>
  
                    {% render_field field class="form-control" placeholder=field.label %}
                  </div>
                  {% endfor %}
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button type="submit"
                        class="btn bg-gradient-primary mt-3 mb-0">
                        {% trans 'Send message' %}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
{% endblock %}