{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans 'Courses recommended' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="recommended-courses">

        <h2>{% trans 'Recommendations for' %} {{ student }}</h2>

        <div>
         {% for course in course_list %}
             <a href="{% url 'course_detail' course.slug %}" class="link"> <h3>{{ course.title }} </h3></a>
              <p>
                  {{ course.subject }}
                  {% trans 'Instructor' %}: {{ course.owner.username }}
              </p>
              <p>
                  {{ course.created | date:"M d" }}
              </p>
         {% endfor %}
        </div>

    </div>
</div>
 {% endblock %}
