{% extends "base.html" %}
{% load i18n %}
   {% block title %}
    {% trans 'Create a new event' %}
   {% endblock %}
   {% block content %}
   <div class="container-fluid">
         <div>
           <form action="" method="post" enctype="multipart/form-data">
             {{ form.as_p }}
             {% csrf_token %}
             <p><input type="submit" class="btn btn-primary" value="{% trans 'Create event' %}"></p>
           </form>
         </div>
     </div>
   {% endblock %}


   {% block domready %}

   {% endblock %}
