{% extends "base.html" %}
{% load i18n %}
   {% block title %}
    {% trans 'Events' %}
   {% endblock %}
   {% block content %}
   <div class="container">
         <ul>
             {% for event in events %}
                <li>
                    <h3><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h3>
                    <p>{{ event.date }}</p>
                    <p>{{ event.location }}</p>
                    <a href="{% url 'delete_event' event.id %}" class="btn btn-default">{% trans 'Delete event' %}</a>
                    <a href="{% url 'update_event' event.id %}" class="btn btn-default">{% trans 'Update event' %}</a>
                </li>
             {% endfor %}
         </ul>

         <a href="{% url 'create_event' %}" class="btn btn-primary">{% trans 'Create a new event' %}</a>
     </div>
   {% endblock %}
