{% extends "base.html" %}
   {% block title %}
       {{ object.title }}
   {% endblock %}
   {% block content %}
   <div class="container">
       <h1>
           {{ module.title }}
       </h1>
       <div class="contents">
           <h3>Modules</h3>
           <ul id="modules">
           {% for m in object.modules.all %}
               <li data-id="{{ m.id }}" {% if m == module %}
   class="selected"{% endif %}>
   <a href="{% url 'student_course_detail_module' object.id m.id %}">
       <span> Module <span class="order">{{ m.order|add:1 }} </span>
        </span>
    <br>
    {{ m.title }}
    </a> </li>
{% empty %}
    <li>No modules yet.</li>

{% endfor %}
</ul> </div>
       <div class="module">
           {% for content in module.contents.all %}
               {% with item=content.item %}
                   <h2>{{ item.title }}</h2>
                   {{ item.render }}
               {% endwith %}
           {% endfor %}
       </div>
       {% if not course.upgraded %}
       <h2>Upgrade to a premium subcription ?</h2>
       <form action="{% url 'charge' %}" method="post">
           {% csrf_token %}
           <script src="https://checkout.stripe.com/checkout.js"
               class="stripe-button"
               data-key="{{ key }}"
               data-name="my e-learning"
               data-description="Premium subcription (1.99€/month)"
               data-amount="0199"
               data-allow-remember-me="false"
               data-label="Upgrade to premium">
           </script>
       </form>
       {% else %}
            <p>Content upgraded.</p>
       {% endif %}
   </div>
   {% endblock %}
