{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% block title %}
    {% trans 'Calendar' %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2>{% trans 'Calendar' %}</h2>
     {% include "partial/tabs.html" %}
     <a href="{% url 'create_event' %}" class="btn btn-info pull-right"><i class="glyphicon glyphicon-plus"></i> {% trans 'Create an event' %}</a>
     <a href="{% url 'liste_events' %}" class="btn btn-info"><i class="glyphicon glyphicon-th-list"></i> {% trans 'See list' %}</a>
    <div id="app">
    </div>
     {% render_bundle 'app' %}
 </div>
{% endblock %}
